<link rel="stylesheet" href="/stylesheets/style-show.css">

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <form action="/restaurants" method="POST" class="mt-3">
        <p class="mb-1">
          <span class="text-secondary">
            中文名稱：
          </span>
          <input type="text" name="name">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            英文名稱：
          </span>
          <input type="text" name="name_en">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            類別：
          </span>
          <input type="text" name="category">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            圖片網址：
          </span>
          <input type="text" name="image">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            地址：
          </span>
          <input type="text" name="location">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            電話：
          </span>
          <input type="text" name="phone">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            Google Map 位址：
          </span>
          <input type="text" name="google_map">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            評分：
          </span>
          <input type="text" name="rating">
        </p>
        <p class="mb-1">
          <span class="text-secondary">
            描述：
          </span>
          <input type="text" name="description">
        </p>
        <button type="submit" class="mt-2">確認新增</button>
      </form>

    </div>
  </div>
</div>